---
layout: default
title: AGORABOOKS - About
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="about">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>ჩვენს შესახებ</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item"><a href="#">ჩვენს შესახებ</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--===============About Area =================-->
<div class="about_area">
    <div class="container">
        <div class="about_text mt-4 mb-4">
            <p>ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტიჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტიჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტიჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტიჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტიჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი ჩვენს შესახებ ტექსტი</p>
        </div>
    </div>
</div>
<!--================End About Area =================-->

