---
layout: default
title: AGORABOOKS - Cart
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="cart">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>ჩემი კალათა</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item"><a href="#">ჩემი კალათა</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="http://dev.agorabooks.ge/photos/shares/123123/13015645_1137561962974271_2524143270128981_n.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <p>ბრძოლის ველის განვრცობა</p>
                                    <span>მიგელ უელბეკი</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>8.00₾</h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                       class="input-text qty">
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                            </div>
                        </td>
                        <td>
                            <h5>8.00₾</h5>
                        </td>
                    </tr>
                    <tr class="out_button_area">
                        <td class="d-none-l"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="#">უკან დაბრუნება</a>
                                <a class="primary-btn ml-2" href="#">გაგრძელება</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
