---
layout: default
title: AGORABOOKS - Books
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category-books">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>წიგნები</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item active" aria-current="page">წიგნები</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">კატეგორიები</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <form action="#">
                                <ul>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="men" name="brand">
                                        <label for="men">მხატვრული პროზა</label>
                                    </li>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="women" name="brand">
                                        <label for="women">დეტექტივი/კვალი</label>
                                    </li>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="accessories" name="brand">
                                        <label for="accessories">პოეზია</label>
                                    </li>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="footwear" name="brand">
                                        <label for="footwear">დრამატურგია/ავანსცენა</label>
                                    </li>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="bayItem" name="brand">
                                        <label for="bayItem">არამხატვრული პროზა</label>
                                    </li>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="electronics" name="brand">
                                        <label for="electronics">საბავშვო/საყმაწვილო</label>
                                    </li>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="food" name="brand">
                                        <label for="food">სახელმძღვანელო</label>
                                    </li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-filter">
                    <div class="top-filter-head">დალაგება</div>
                    <div class="common-filter">
                        <form action="#">
                            <ul class="pt-3">
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="oldest" name="brand">
                                    <label for="oldest">წლის მიხედვით ძველი</label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="newest" name="brand">
                                    <label for="newest">წლის მიხედვით ახალი</label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="byTitle" name="brand">
                                    <label for="byTitle">სათაურის მიხედვით</label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <button class="mt-4 filter-reset-btn pt-2 pb-2">გაუქმება</button>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center justify-content-between">
                    <div class="sorting">
                        <select>
                            <option value="1">ყველა ავტორი</option>
                            <option value="12">რომენ გარი</option>
                            <option value="13">ფრედ ვარგასი</option>
                            <option value="14">ჟოელ დიკერი</option>
                            <option value="15">მარია მეტლიცკაია</option>
                            <option value="16">იზაბელ ვერი</option>
                            <option value="17">იტალო კალვინო</option>
                            <option value="18">ოლივიე როლენი</option>
                            <option value="19">თაჰსინ იუჯელი</option>
                            <option value="20">გაეტან სუსი</option>
                            <option value="21">მიშელ ფუკო</option>
                            <option value="22">გიორგი ეკიზაშვილი</option>
                            <option value="23">ანატოლ ფრანსი</option>
                            <option value="24">ანკა ვისდეი</option>
                            <option value="25">ჟან-მარი გუსტავ ლე კლეზიო</option>
                            <option value="26">ბლეზ სანდრარი</option>
                            <option value="27">ანრი რენე ალბერ გი დე მოპასანი</option>
                            <option value="28">ჟან-პოლ სარტრი</option>
                            <option value="29">პიერ პეჟუ</option>
                            <option value="30">ჟან ტიულარი</option>
                            <option value="31">ლორან გოდე</option>
                            <option value="32">ალექსანდრე დიუმა</option>
                            <option value="33">მარკ ლევი</option>
                            <option value="34">შარლ ფერდინან რამიუ</option>
                            <option value="35">ფილიპ კლოდელი</option>
                            <option value="36">პიერ გრიპარი</option>
                            <option value="37">ტენესი უილიამსი</option>
                            <option value="38">რენე დეკარტი</option>
                            <option value="39">საიტ ფაიკ აბასიანიკი</option>
                            <option value="40">პატრიკ მოდიანო</option>
                            <option value="41">მზია სიმონიძე</option>
                            <option value="42">თამაზ ლეჟავა</option>
                            <option value="43">ირინა ასათიანი</option>
                            <option value="44">ლარისა ყირმელაშვილი</option>
                            <option value="45">პოლ ქლივი</option>
                            <option value="46">ლელა კოდალაშვილი</option>
                            <option value="47">კლოდ ლევი-სტროსი</option>
                            <option value="48">ალბერ კამიუ</option>
                            <option value="49">ამელი ნოტომი</option>
                            <option value="50">მარტენ პაჟი</option>
                            <option value="51">მორის მერლო-პონტი</option>
                            <option value="52">ჰაქან გიუნდაი</option>
                            <option value="53">რემონ რადიგე</option>
                            <option value="54">როლან ბარტი</option>
                            <option value="55">მიშელ უელბეკი</option>
                            <option value="56">ჟან-კლოდ მურლევა</option>
                            <option value="57">ანტუან დე სენტ-ეგზიუპერი</option>
                            <option value="58">დანიელ პენაკი</option>
                            <option value="59">ჟიულ რომენი</option>
                            <option value="60">ჟან-ჟაკ რუსო</option>
                            <option value="61">პიერ ბომარშე</option>
                            <option value="62">იტალო ზვევო</option>
                            <option value="63">ვახტანგ იმნაიშვილი</option>
                            <option value="64">აჰმედ ჰამდი თანფინარი</option>
                            <option value="65">ჩილერ ილჰანი</option>
                            <option value="66">ალფრედ ჰიჩკოკი</option>
                            <option value="67">ლევ ტოლსტოი</option>
                            <option value="68">ანტონ ჩეხოვი</option>
                            <option value="69">სებასტიან ჟაპრიზო</option>
                            <option value="82">დიმა თოფურიძე</option>
                            <option value="83">ჟოანა გრუდა</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="ძიება">
                            <div class="input-group-append">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <p>ალბერ კამიუ</p>
                                    <h4 class="card-product__title"><a href="single-book.html">უცხო</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/Barti_2015_kda_cina.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <p>როლან ბარტი</p>
                                    <h4 class="card-product__title"><a href="single-book.html">მითოლოგიები</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/12249623_1039315156132286_3635501632990753655_n.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <p>Decor</p>
                                    <h4 class="card-product__title"><a href="single-book.html">Room Flash Light</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->

