---
layout: default
title: AGORABOOKS - Autors
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>ავტორები</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ავტორები</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small mt-0">
    <div class="container pt-3 mb-5">
        <div class="letter-filter">
            <ul class="d-flex justify-content-between flex-wrap">
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ა</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ბ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">გ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">დ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ე</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ვ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ზ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">თ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ი</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">კ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ლ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">მ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ნ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ო</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">პ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ჟ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">რ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ს</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ტ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">უ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ფ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ქ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ღ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ყ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">შ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ჩ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ც</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ძ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">წ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ჭ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ხ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ჯ</a>
                </li>
                <li class="pl-2 pr-2 mb-2">
                    <a href="#!">ჰ</a>
                </li>
                <li class="pl-2 pr-2 mb-2"><a href="?">გაუქმება</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list autors-page">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/Authors/1470116_1159207667447291_5035302206674292492_n.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-product__title"><a href="single-autor.html">საიტ ფაიკ აბასიანიკი</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/Authors/10401951_1027783290618806_8208032216509236177_n.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-product__title"><a href="single-autor.html">ირინა ასათიანი</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/Authors/1470116_1159207667447291_5035302206674292492_n.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-product__title"><a href="single-autor.html">საიტ ფაიკ აბასიანიკი</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/Authors/1470116_1159207667447291_5035302206674292492_n.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-product__title"><a href="single-autor.html">საიტ ფაიკ აბასიანიკი</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Best Seller -->
        </div>
</section>
<!-- ================ category section end ================= -->

