---
layout: default
title: AGORABOOKS - Gallery
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="gallery">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>გალერეა</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item active" aria-current="page">გალერეა</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--===============Gallery Area =================-->
<div class="gallery">
    <div class="container">
        <div class="product_description_area">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="photos" data-toggle="tab" href="#photo-tab" role="tab" aria-controls="photo-tab" aria-selected="true"><i class="fa fa-camera mr-2 ml-0"></i>ფოტო ალბომები</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="videos" data-toggle="tab" href="#video-tab" role="tab" aria-controls="video-tab" aria-selected="false"><i class="fa fa-video mr-2 ml-0"></i>ვიდეოები</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="photo-tab" role="tabpanel" aria-labelledby="photos">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="gallery-box">
                            <a href="single-gallery.html">
                                <img src="http://dev.agorabooks.ge/photos/shares/ფრანკფურტის ფესტივალი 2018/10.jpg" alt="" class="img-responsive">
                            </a>
                            <p>ალბომის სახელი</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="gallery-box">
                            <a href="single-gallery.html">
                                <img src="http://dev.agorabooks.ge/photos/shares/ფრანკფურტის ფესტივალი 2018/10.jpg" alt="" class="img-responsive">
                            </a>
                            <p>ალბომის სახელი</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="video-tab" role="tabpanel" aria-labelledby="videos">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="gallery-box">
                            <a href="https://www.youtube.com/embed/IPFSmHyk_0o?autoplay=1"  data-toggle="modal" data-target="#videoModal" class="video" data-width="640" data-title="ლაშა ბუღაძე რომენ გარის შესახებ">
                                <img src="//img.youtube.com/vi/IPFSmHyk_0o/0.jpg" alt="" class="img-responsive">
                            </a>
                            <p>ლაშა ბუღაძე რომენ გარის შესახებ</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="gallery-box">
                            <a href="https://www.youtube.com/embed/2so3KD9Rnv4?autoplay=1"  data-toggle="modal" data-target="#videoModal" class="video" data-width="640" data-title="ნესტან კვინიკაძე ალბერ კამიუს ,,ბედნიერი სიკვდილის&quot; შესახებ">
                                <img src="//img.youtube.com/vi/2so3KD9Rnv4/0.jpg" alt="" class="img-responsive">
                            </a>
                            <p>ალბერ კამიუს "ბედნიერი სიკვდილი"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!--================End Gallery Area =================-->

