---
layout: default
title: AGORABOOKS - Home
---
<main class="site-main">

    <!--================ Hero banner start =================-->
    <div id="mainCarousel" class="owl-carousel owl-theme">
        <div class="item">
            <section class="hero-banner">
                <div class="container">
                    <div class="row no-gutters align-items-center pt-60px pb-60px">
                        <div class="col-5 d-sm-block pl-4 pl-sm-0">
                            <a href="#!" class="hero-banner__img">
                                <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/123123/23561852_1723521027711692_396110964747555404_n.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                            <div class="hero-banner__content">
                                <h4>იტალო კალვინო</h4>
                                <h1>განახევრებული ვიკონტი</h1>
                                <p>წიგნი არის მაგარი და რა ვქნათ მეტი არ ვიცი და <br>
                                    <b>მთარგმნელი:</b> როზა ოდიშვილი</p>
                                <a class="button button-hero" href="#">კალათაში დამატება</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="item">
            <section class="hero-banner">
                <div class="container">
                    <div class="row no-gutters align-items-center pt-60px pb-60px">
                        <div class="col-5 d-sm-block pl-4 pl-sm-0">
                            <a href="#!" class="hero-banner__img">
                                <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/15156991_1328554103875055_6439105057210696874_o.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                            <div class="hero-banner__content">
                                <h4>ძალიან მაგარი წიგნი 2</h4>
                                <h1>ძალიან მაგარი წიგნი</h1>
                                <p>მაგარი წიგნები ძალიან მაგრებია ეს წიგნები და იყიდეთ რა.</p>
                                <a class="button button-hero" href="#">კალათაში დამატება</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="item">
            <section class="hero-banner">
                <div class="container">
                    <div class="row no-gutters align-items-center pt-60px pb-60px">
                        <div class="col-5 d-sm-block pl-4 pl-sm-0">
                            <a href="#!" class="hero-banner__img">
                                <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/123123/21314347_1648780215185774_1777943300478097920_n.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                            <div class="hero-banner__content">
                                <h4>ძალიან მაგარი წიგნი 3</h4>
                                <h1>ძალიან მაგარი წიგნი</h1>
                                <p>მაგარი წიგნები ძალიან მაგრებია ეს წიგნები და იყიდეთ რა.</p>
                                <a class="button button-hero" href="#">კალათაში დამატება</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <!--<p>Popular Item in the market</p>-->
                <h2>პოპულარული <span class="section-intro__style">წიგნები</span></h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>მზია გომელაური</p>
                            <h4 class="card-product__title"><a href="single-product.html">სიმართლე ჰარი კებერის საქმის შესახებ</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/Barti_2015_kda_cina.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>ფრედ ვარგასი</p>
                            <h4 class="card-product__title"><a href="single-product.html">მაქცია</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/12249623_1039315156132286_3635501632990753655_n.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Decor</p>
                            <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/41.JPG" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Decor</p>
                            <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/123123/23380334_1713728228690972_2050678071538624205_n.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Accessories</p>
                            <h4 class="card-product__title"><a href="single-product.html">Man Office Bag</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Kids Toy</p>
                            <h4 class="card-product__title"><a href="single-product.html">Charging Car</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/1962597_878573492176452_2472058587907436173_n.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Accessories</p>
                            <h4 class="card-product__title"><a href="single-product.html">Blutooth Speaker</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="http://dev.agorabooks.ge/photos/shares/12122388_1027773440619791_1958844158340154705_n.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <a href="single-product.html"><i class="ti-search"></i></a>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Kids Toy</p>
                            <h4 class="card-product__title"><a href="#">Charging Car</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ trending product section end ================= -->


    <!-- ================ offer section start ================= -->
    <section class="offer">
        <div class="container">
            <div class="offer__content text-center">
                <h3>გერონტი ქიქოძის სახელობის პრემია</h3>
                <h4>გამომცემლობა აგორა აცხადებს კონკურსს გერონტი ქიქოძის სახელობის პრემიის მისაღებად</h4>
                <a class="button button--active mt-3 mt-xl-4" href="#">დეტალურად</a>
            </div>
        </div>
    </section>
    <!-- ================ offer section end ================= -->

    <!-- ================ Best Selling item  carousel ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <h2>ბესტ <span class="section-intro__style">სელერები</span></h2>
            </div>
            <div class="owl-carousel owl-theme" id="bestSellerCarousel">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Accessories</p>
                        <h4 class="card-product__title"><a href="single-product.html">Quartz Belt Watch</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Beauty</p>
                        <h4 class="card-product__title"><a href="single-product.html">Women Freshwash</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Decor</p>
                        <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Decor</p>
                        <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Accessories</p>
                        <h4 class="card-product__title"><a href="single-product.html">Quartz Belt Watch</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Beauty</p>
                        <h4 class="card-product__title"><a href="single-product.html">Women Freshwash</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Decor</p>
                        <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/წიგნები/ucxo_2-6_kda.jpg" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <a href="single-product.html"><i class="ti-search"></i></a>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Decor</p>
                        <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= -->

    <!-- ================ Blog section start ================= -->
    <section class="blog">
        <div class="container">
            <div class="section-intro pb-60px">
                <h2>ახალი <span class="section-intro__style">ამბები</span></h2>
            </div>

            <div class="row mb-5">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="http://agorabooks.ge/photos/shares/TestFolder/45085095_2210866472310476_5753288982834184192_n.png" alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><i>22 ივნ. 2019</i></li>
                            </ul>
                            <h4 class="card-blog__title"><a href="single-news.html">თბილისის წიგნის დღეები 2018</a></h4>
                            <p>გამომცემლობა აგორა თბილისის წიგნის დღეებზე</p>
                            <a class="card-blog__link" href="#">გაიგე მეტი <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="http://dev.agorabooks.ge/photos/shares/TestFolder/45002186_2205331029530687_4157483747882565632_n.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><i>22 ივნ. 2019</i></li>
                            </ul>
                            <h4 class="card-blog__title"><a href="single-news.html">როლან ბარტის წიგნის თარგმანის პრეზენტაცია</a></h4>
                            <p>გამომცემლობა აგორა როლან ბარტის წიგნის თარგმანის პრეზენტაციაზე</p>
                            <a class="card-blog__link" href="#">გაიგე მეტი <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="http://agorabooks.ge/photos/shares/%E1%83%A1%E1%83%98%E1%83%90%E1%83%AE%E1%83%9A%E1%83%94/22196328_1681115991952196_6253389080891065587_n.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><i>22 ივნ. 2019</i></li>
                            </ul>
                            <h4 class="card-blog__title"><a href="single-news.html">ჟოელ დიკერის წიგნის წარდგენა</a></h4>
                            <p>როლან ბარტის წიგნის თარგმანის პრეზენტაცია.</p>
                            <a class="card-blog__link" href="#">გაიგე მეტი <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Blog section end ================= -->

</main>
