---
layout: default
title: AGORABOOKS - News
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>სიახლეები</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item active" aria-current="page">სიახლეები</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Blog Area =================-->
<section class="blog_area mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <li>
                                        <p>ავტორის სახელი
                                            <i class="fa fa-user"></i>
                                        </p>
                                    </li>
                                    <li>
                                        <p>12 Dec, 2017
                                            <i class="fa fa-calendar"></i>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="http://agorabooks.ge/photos/shares/TestFolder/45085095_2210866472310476_5753288982834184192_n.png" alt="">
                                <div class="blog_details">
                                    <a href="single-news.html">
                                        <h2>თბილისის წიგნის დღეები</h2>
                                    </a>
                                    <p>გამომცემლობა აგორა თბილისის წიგნის დღეებზე</p>
                                    <a class="button button-blog" href="single-news.html">გაიგე მეტი</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <p>ავტორის სახელი
                                            <i class="fa fa-user"></i>
                                    </p>
                                    </li>
                                    <li>
                                        <p>12 Dec, 2017
                                            <i class="fa fa-calendar"></i>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="http://dev.agorabooks.ge/photos/shares/TestFolder/45002186_2205331029530687_4157483747882565632_n.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-news.html">
                                        <h2>როლან ბარტის წიგნის თარგმანის პრეზენტაცია</h2>
                                    </a>
                                    <p>8 ნოემბერს, 18:30 სთ-ზე ფრანგული ინსტიტუტის მედიათეკაში წარმოგიდგენთ როლან ბარტის წიგნის ,,ფრაგმენტები შეყვარებულის საუბრიდან“ თარგმანს!
                                        მისამართი: საქართველოს ეროვნული ბიბლიოთეკის მე-3 კორპ. გუდიაშვილის ქუჩა 7
                                        დასწრება თავისუფალია!</p>
                                    <a class="button button-blog" href="single-news.html">გაიგე მეტი</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <li>
                                        <p>ავტორის სახელი
                                            <i class="fa fa-user"></i>
                                        </p>
                                    </li>
                                    <li>
                                        <p>12 Dec, 2017
                                            <i class="fa fa-calendar"></i>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="http://agorabooks.ge/photos/shares/სიახლე/22196328_1681115991952196_6253389080891065587_n.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-news.html">
                                        <h2>ჟოელ დიკერის წიგნის წარდგენა</h2>
                                    </a>
                                    <p>გამომცემლობა აგორა და შვეიცარიის საელჩო საქართველოში გეპატიჟებათ თანამედროვე შვეიცარიელი მწერლის ჟოელ დიკერის წიგნის ,,სიმართლე ჰარი კებერის საქმის შესახებ“ წარდგენაზე.
                                        სამშაბათს, 10 ოქტომბერს 19:00 სთ-ზე
                                        საქართველოს მწერალთა სახლი, ივ. მაჩაბლის ქ. #13</p>
                                    <a class="button button-blog" href="single-news.html">გაიგე მეტი</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">
                                          <span class="lnr lnr-chevron-left"></span>
                                      </span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">01</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">02</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">03</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">04</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">09</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                      <span aria-hidden="true">
                                          <span class="lnr lnr-chevron-right"></span>
                                      </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
