---
layout: default
title: AGORABOOKS - Single-news
---
<!-- ================ start banner area ================= --><section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>სიახლეები</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item"><a href="#">სიახლეები</a></li>
                            <li class="breadcrumb-item active" aria-current="page">როლან ბარტის წიგნის თარგმანის პრეზენტაცია</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Blog Area =================-->
<section class="blog_area single-post-area py-80px section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="assets/img/blog/feature-img1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <ul class="blog_meta list">
                                <li>
                                    <p>Mark wiens
                                        <i class="fa fa-user"></i>
                                    </p>
                                </li>
                                <li>
                                    <p>12 Dec, 2017
                                        <i class="fa fa-calendar"></i>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>როლან ბარტის წიგნის თარგმანის პრეზენტაცია</h2>
                        <p class="excert">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money
                            on boot camp when you can get the MCSE study materials yourself at a fraction.
                        </p>
                        <p>
                            Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot
                            camp when you can get the MCSE study materials yourself at a fraction of the camp price.
                            However, who has the willpower to actually sit through a self-imposed MCSE training. who
                            has the willpower to actually sit through a self-imposed
                        </p>
                        <p>
                            Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot
                            camp when you can get the MCSE study materials yourself at a fraction of the camp price.
                            However, who has the willpower to actually sit through a self-imposed MCSE training. who
                            has the willpower to actually sit through a self-imposed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

