---
layout: default
title: AGORABOOKS - Single-autor
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="single-autor">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>საიტ ფაიკ აბასიანიკი</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item"><a href="#">ავტორები</a></li>
                            <li class="breadcrumb-item active" aria-current="page">საიტ ფაიკ აბასიანიკი</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-4">
                <div class="single-prd-item">
                    <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/Authors/1470116_1159207667447291_5035302206674292492_n.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="s_product_text">
                    <h3>საიტ ფაიკ აბასიანიკი</h3>
                    <ul class="list">
                        <li>1906-1954</li>
                    </ul>
                    <p>საიტ ფაიკ აბასიანიკი იყო ერთ–ერთი უდიდესი თურქი მწერალი და პოეტი. მან ახალი სტილი შექმნა თურქულ ლიტერატურაში და ახალი სიცოცხლე შთაბერა მოთხრობებს თავისი ჰუმანური სტილით.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-6">
    <div class="container">
        <div class="section-intro pb-60px">
            <h2>ავტორის <span class="section-intro__style">წიგნები</span></h2>
        </div>
        <div class="row mt-30">
            <div class="col-12">
                <div class="row single-search-product-wrapper">
                    <div class="col-lg-3 col-md-4 single-search-product d-flex">
                        <a href="#"><img src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title red">დაპირება განთიადისას</a>
                            <div class="price">საიტ ფაიკ აბასიანიკი</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 single-search-product d-flex">
                        <a href="#"><img src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title red">დაპირება განთიადისას</a>
                            <div class="price">საიტ ფაიკ აბასიანიკი</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 single-search-product d-flex">
                        <a href="#"><img src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title red">დაპირება განთიადისას</a>
                            <div class="price">საიტ ფაიკ აბასიანიკი</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mt-md-2 single-search-product d-flex align-items-center justify-content-center">
                        <a href="category-books.html" class="button primary-btn">ყველას ნახვა</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ end related Product area =================-->
