---
layout: default
title: AGORABOOKS - Single-product
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="single-product">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>ბრძოლის ველის განვრცობა</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item"><a href="#">მხატვრული პროზა</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ბრძოლის ველის განვრცობა</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="single-prd-item">
                    <img class="img-fluid" src="http://dev.agorabooks.ge/photos/shares/123123/13015645_1137561962974271_2524143270128981_n.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>ბრძოლის ველის განვრცობა</h3>
                    <h2>8.00₾</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>გამომცემლობა: </span> აგორა</a></li>
                        <li><a href="#"><span>მთარგმნელი: </span> მარინა ბალავაძე</a></li>
                        <li><a href="#"><span>ISBN: </span> 978-9941-9414-4-3</a></li>
                    </ul>
                    <p>ძალიან მაგარი წიგნიძალიან მაგარი წიგნიძალიან მაგარი წიგნიძალიან მაგარი წიგნიძალიან მაგარი წიგნი</p>
                    <div class="product_count">
                        <a class="button primary-btn" href="#">კალათაში დამატება</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-6">
    <div class="container">
        <div class="section-intro pb-60px">
            <h2>მსგავსი <span class="section-intro__style">წიგნები</span></h2>
        </div>
        <div class="row mt-30">
            <div class="col-12">
                <div class="row single-search-product-wrapper">
                    <div class="col-lg-3 col-md-4 single-search-product d-flex">
                        <a href="#"><img src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title red">დაპირება განთიადისას</a>
                            <div class="price">რომენ გარი</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 single-search-product d-flex">
                        <a href="#"><img src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title red">დაპირება განთიადისას</a>
                            <div class="price">რომენ გარი</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 single-search-product d-flex">
                        <a href="#"><img src="http://dev.agorabooks.ge/photos/shares/წიგნები/Dapireba_cina_yda.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title red">დაპირება განთიადისას</a>
                            <div class="price">რომენ გარი</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ end related Product area =================-->
