---
layout: default
title: AGORABOOKS - Gallery-item
---
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="gallery">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="container">
                <div class="text-left">
                    <h1>ფოტო გალერეა</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                            <li class="breadcrumb-item"><a href="#">გალერეა</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ფოტო გალერეა</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--===============Gallery Area =================-->
<div class="gallery" id="photo-tab">
    <div class="container">
        <div class="product_description_area">
            <div class="row">
                <div class="col-lg-3">
                    <div class="gallery-box gallery-item">
                        <a href="http://dev.agorabooks.ge/photos/shares/ფრანკფურტის ფესტივალი 2018/10.jpg">
                            <img src="http://dev.agorabooks.ge/photos/shares/ფრანკფურტის ფესტივალი 2018/10.jpg" title="" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-box gallery-item">
                        <a href="http://dev.agorabooks.ge/photos/shares/ფრანკფურტის ფესტივალი 2018/4.jpg">
                            <img src="http://dev.agorabooks.ge/photos/shares/ფრანკფურტის ფესტივალი 2018/4.jpg" title="" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



