<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <div class="logo-side">
                            <img src="assets/img/logo-footer.png" alt="">
                            <div class="footer-fallow">
                                <a href="https://facebook.com">
                                    გამოგვყევით:
                                    <span class="fb"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">სწრაფი ლინკები</h4>
                        <ul class="list">
                            <li><a href="#">მთავარი</a></li>
                            <li><a href="#">ახალი ამბები</a></li>
                            <li><a href="#">წიგნები</a></li>
                            <li><a href="#">ავტორები</a></li>
                            <li><a href="#">გალერეა</a></li>
                            <li><a href="#">ჩვენს შესახებ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">გალერეა</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="assets/img/gallery/r1.jpg" alt=""></li>
                            <li><img src="assets/img/gallery/r2.jpg" alt=""></li>
                            <li><img src="assets/img/gallery/r3.jpg" alt=""></li>
                            <li><img src="assets/img/gallery/r5.jpg" alt=""></li>
                            <li><img src="assets/img/gallery/r7.jpg" alt=""></li>
                            <li><img src="assets/img/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">კონტაქტი</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                მაღაზიის მისამართი
                            </p>
                            <p>დავით აღმაშენებლის გამზ. N 75, 0102 თბილისი</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                საკონტაქტო ტელეფონი
                            </p>
                            <p>
                                (+995) 555 541 900
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                ელ.ფოტსა
                            </p>
                            <p>
                                contact@agorabooks.ge
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    Agorabooks.ge All rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
