<div class="search-field">
    <div class="cls">
        <i class="fa fa-times"></i>
    </div>
    <form action="">
        <input type="text" placeholder="ძიება">
    </form>
</div>
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="assets/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="index.html">მთავარი</a></li>
                        <li class="nav-item"><a class="nav-link" href="news.html">სიახლეები</a></li>
                        <li class="nav-item"><a class="nav-link" href="category-books.html">წიგნები</a></li>
                        <li class="nav-item"><a class="nav-link" href="category-autors.html">ავტორები</a></li>
                        <li class="nav-item"><a class="nav-link" href="category-store.html">მაღაზია</a></li>
                        <li class="nav-item"><a class="nav-link" href="gallery.html">გალერეა</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">ჩვენს შესახებ</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">კონტაქტი</a></li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item"><button id="searchBtn"><i class="ti-search"></i></button></li>
                        <li class="nav-item"><a href="cart.html"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></a>
                        <li class="nav-item lang">
                            <a href="#!" class="nav-lang">en</a>
                            <a href="#!" class="nav-lang active">ka</a>
                            <a href="#!" class="nav-lang">fr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
