{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="assets/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="assets/vendors/simple-lightbox/simpleLightbox.min.css">


    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
{{>navigation}}
{{> body}}
{{>footer}}
<script src="assets/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="assets/vendors/skrollr.min.js"></script>
<script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="assets/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="assets/vendors/nouislider/nouislider.min.js"></script>
<script src="assets/vendors/jquery.ajaxchimp.min.js"></script>
<script src="assets/vendors/mail-script.js"></script>
<script src="assets/vendors/simple-lightbox/simpleLightbox.min.js"></script>
<script src="assets/js/main.js"></script>
<script>
	$(function () {
		setCarousels();
		showModal();
	 search();
	})
</script>
</body>
</html>
